// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.mh-50{
    min-height: 50vh;
}
.mh-25{
    min-height: 25vh;
}
html,body{
    height:100%;
}

.flex-fill {
    flex:1;
}
